@import "src/app/styles/mixins";

mat-card-title {
  color: $primary--color;
  cursor: pointer;
}

.tile-card {
  max-width: 400px;
  margin-bottom: 1rem;
}

.player-number {
  border-radius: 60%;
  background-color: $primary--color;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}
